name: Build Canary

on:
  workflow_dispatch:

jobs:
  build-dotnet:
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Load secrets
        id: op-load-secret
        uses: 1password/load-secrets-action@8d0d610af187e78a2772c2d18d627f4c52d3fbfb # v3.1.0
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN_PUBLIC }}
          NUGET_KEY: "op://${{ vars.OP_VAULT_ACTIONS_PUBLIC }}/NUGET_KEY/username"

      - uses: Cysharp/Actions/.github/actions/checkout@main
      - uses: Cysharp/Actions/.github/actions/setup-dotnet@main
      - name: "Set VersionSuffix for Preview"
        id: version-suffix
        run: echo "version=preview.$(date '+%Y%m%d-%H%M%S')+${GITHUB_SHA:0:6}" | tee -a $GITHUB_OUTPUT
      - run: dotnet build -c Release
      # .csproj included version will be used.
      - run: dotnet pack  -c Release --no-build --version-suffix "${{ steps.version-suffix.outputs.verseion }}" --include-symbols --include-source -o ./publish
      # Upload & Publish
      - uses: Cysharp/Actions/.github/actions/upload-artifact@main
        with:
          name: nuget
          path: ./publish
          retention-days: 14
      - name: "Push to NuGet.org"
        run: dotnet nuget push "$GITHUB_WORKSPACE/publish/*.nupkg" --skip-duplicate -k ${{ steps.op-load-secret.outputs.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
